<h1>Categories</h1>

<form method="POST" action="/create">
  <input name="name" placeholder="Category Name">
  <input name="description" placeholder="Description">
  <button>Add</button>
</form>

<ul>
  <% categories.forEach(cat => { %>
    <li>
      <%= cat.name %>
      <a href="/items/<%= cat.id %>">Items</a>
      <a href="/delete/<%= cat.id %>">Delete</a>
    </li>
  <% }) %>
</ul>