<h1>Sign Up</h1>

<form method="POST" action="/sign-up">
  <input name="firstName" placeholder="First Name">
  <input name="lastName" placeholder="Last Name">
  <input name="username" placeholder="Email">
  <input name="password" type="password">
  <button>Sign Up</button>
</form>